{% extends "project_base.html" %}

{% block title %}Blackboards — Lisa Li{% endblock %}
{% block main_img %}blackboard/Blackboard.jpg{% endblock %}>
{% block h1 %}RFP: Improving the Blackboards at U of T{% endblock %}
{% block date %}October 2017{% endblock %}

{% block modal %}{% endblock %}

{% block body1 %}
<p> My first RFP (request for proposal) started small. The objective was to find a problem on campus that needed a solution. My team chose the blackboards at U of T after our own disdain with the usage of them by professors. We brought up issues with visibility (poor contrast made them hard to read off of), health (chalk dust entering lungs and skin), and accessibility (they were hard to use for people with certain disabilities).</p>
<p>Writing this report was my first exposure to the structure of an RFP as well as improving my understanding of objectives, constraints, and criteria. As the author looking for a proposal, it taught me how to frame and scope and opportunity as I had to greatly explain in detail what needed satisfy the requirements of my main stakeholder. As for my Engineering Design Philosophy, I started in Phase 1 with the intent of guiding my reader to create a solution for my opportunity. I had to understand the usage of engineering requirements (objectives, constraints, and criteria) so that my report could be understood by fellow engineers.</p>
<br>
<p>The worst experience I had in first semester occurred while writing this report as a team member slacked off and did not do their fair share of the work. They did not communicate in the team group chat and started work two hours before the report was due. He then dropped out of the engineering program in the middle of the semester without telling any members of the team. My approach in second semester with my new team was an emphasis on communication. I called for more group meetings and work sessions together as a team, as opposed to first semester where we worked together online and only communicated on Facebook. This improved my team experience for the end-of-year showcase as it created a stronger bond between me and my teammates, as well as in increase in respect for them in their engineering design and communication skills.</p>
<br>
<nav class="article-files sans-serif-font">
    <a href="/Assets/Images/Projects/blackboard/Blackboard in BA1130.pdf" download="Lisa Li - Blackboard RFP">Read My Report</a>
</nav>
<a href="/projects.html" style="margin: auto;"><button class="yellow-button">Back to Projects</button></a>
{% endblock %}