{% extends "project_base.html" %}

{% block title %}Coda — Lisa Li{% endblock %}
{% block main_img %}Coda/Coda-main.jpg{% endblock %}>
{% block h1 %}Aweary - Commuter Alarm{% endblock %}
{% block date %}November 2019{% endblock %}

{% block body1 %}
<p>Coda is a neural network which classifies the main instrument being played within a multi-instrumental piece of music. With the popularity of music streaming services and playlist curation, Coda is meant to help increase the specificity of categorized music and recommender systems. This is a great application for machine learning, as traditional methods of hard coding instrument features are made difficult by noise such as tuning, external sounds, etc.</p>
<br>

<h2 class="serif-font article-h2">Data Collection/Processing </h2>
<p>The IRMAS dataset was used to train the model, which consists of over 6700 three-second long audio files each labelled with one of the 11 different instrument classes. The audio and corresponding labels are stored in different files but have the same names. This made it easy to write a Python script to crawl through the dataset folder to extract and store all of the different names. </p>
<br>

<h2 class="serif-font article-h2">Data Preprocessing</h2>
<p>The harmonic and percussive components of the audio were separated to further isolate the main instrument. Using only the harmonic component, the Mel-scale spectrogram was computed, which can be thought of as the representation of the audio in the frequency domain, scaled by a nonlinear equation. This was represented as a 128x65 NumPy array, where the 128 rows are bins of frequency values while the 65 columns each represent 0.05 seconds of audio. Lastly, columns were normalized to have a mean of 0 and standard deviation of 1.  </p>
<br>
<p>Additionally, I realized that 6700 training examples spread across 11 classes was insufficient, so I implemented two types of data augmentation to triple our dataset. First, I added Gaussian noise to the audio. Also, I slowed the audio down to 0.5 speed and cropped the first 3 seconds to use.</p>
<br>

<h2 class="serif-font article-h2">Final Model</h2>
<p>The best model was a MLP with 3 layers with 1000 neurons each, a ReLU activation function on the first two layers and a sigmoid on the last layer. This was “duplicated” 11 times, such that each model was a binary classifier for each of the 11 instruments.</p>
<br>
<p>This empirically gave the best results compared to other models I developed, and is also the best model for the harder task of identifying multiple instruments.</p>
<br>
<img class="article-img" onclick="modalImage(this)" alt="" src="/Assets/Images/Projects/Coda/Coda-1.jpg">

<h2 class="serif-font article-h2">Results </h2>
<p>The figure below shows the loss and accuracy plots for the model. It averages around low 70s validation accuracy although there are significant fluctuations. Visually, the orange follows the blue line close enough to signify no overfitting. A test accuracy of 0.684 was obtained, showing that the model generalizes well. </p>
<br>
<img class="article-img" onclick="modalImage(this)" alt="" src="/Assets/Images/Projects/Coda/Coda-2.jpg">
<p>Since the model consists of 11 binary classifiers, there are 11 confusion matrices, one for each instrument. The large values along the diagonal show that the model is accurately predicting the presence of the instruments. I’d like to point out that the instruments with over 100 false positives and negatives are the cello, acoustic guitar, electric guitar, and violin. These are all string instruments, perhaps meaning that it’s harder for the model to discern amongst them. For voice, it has the lowest false positives and negatives, possibly meaning it’s distinct compared to the other instruments and easier to be predicted by the model.</p>
<br>
<img class="article-img" onclick="modalImage(this)" alt="" src="/Assets/Images/Projects/Coda/Coda-3.jpg">

<h2 class="serif-font article-h2">Conclusion</h2>
<p>Looking over related literature, instrument recognition within multi-instrumental music is still a prevalent and difficult problem being tackled by academic research. Audio is quite messy and unpredictable, and there can be many variations between different audio files that cause models to not generalize. This may be a reason for the sub-70’s accuracy. </p>
<br>
<nav class="article-files sans-serif-font">
    <a href="/Assets/Images/Projects/Coda/Coda Report.pdf" download="Lisa Li - Coda Report">Read My Report</a>
</nav>
<a href="/projects.html" style="margin: auto;"><button class="yellow-button">Back to Projects</button></a>
{% endblock %}