{% extends "project_base.html" %}

{% block title %}iCBT — Lisa Li{% endblock %}
{% block main_img %}iCBT/iCBT-main.jpg{% endblock %}>
{% block h1 %}iCBT Landing Page and Self-Register{% endblock %}
{% block date %}June 2018{% endblock %}

{% block body1 %} 
<p>Cognitive Behaviour Therapy (CBT) is the most widely used evidence-based practice for improving mental health. It focuses on the development of personal coping strategies and skills that target solving current problems and changing unhelpful patterns of thought, beliefs, attitudes, and behaviours. iCBT is Cognitive Behaviour Therapy through a digital platform.</p>
<br>
<p>Morneau Shepell's iCBT program is CBT that is delivered by a therapist through an online platform. Combining the convenience of online access with the same benefits of in-person Cognitive Behaviour Therapy, iCBT targets gaps in treatment, which in turn reduces absenteeism and shortens return to work time frames.<sup>[1]</sup></p>
<br>
<p>I was tasked to create a self-register flow as well as redesign the old landing page:</p>
<img class="article-img" onclick="modalImage(this)" alt="" src="/Assets/Images/Projects/iCBT/iCBT-old.jpg"> 
<br>
<h2 class="sans-serif-font article-h2">View My Prototype</h2>
<nav class="article-files sans-serif-font">
    <a href="https://invis.io/YENY2JF96HJ" target="_blank">Desktop</a>
    <a href="https://invis.io/ZCNY2JL56N9" target="_blank">Mobile</a>
</nav>
<br>
<h2 class="sans-serif-font article-h2">Info Flow</h2>
<img class="article-img md-img" onclick="modalImage(this)" alt="" src="/Assets/Images/Projects/iCBT/iCBT-flow.jpg">

<h2 class="sans-serif-font article-h2">UI Design Decisions</h2>
<ul>
    <li>
        The background was selected because the person in it looks like they're beginning a new adventure, which is what we want our users to feel.
        <img class="article-img" onclick="modalImage(this)" alt="" src="/Assets/Images/Projects/iCBT/iCBT-background.jpg"> 
    </li>
    <li>
        Adding a video describing CBT and iCBT to new users.
        <img class="article-img" onclick="modalImage(this)" alt="" src="/Assets/Images/Projects/iCBT/iCBT-video.jpg">
    </li>
    <li>
        Having a short description of Morneau Shepell and its resources.
        <img class="article-img" onclick="modalImage(this)" alt="" src="/Assets/Images/Projects/iCBT/iCBT-description.jpg">
    </li>
</ul>
<br>
<p style="font-size: 14px; font-weight: 600;">[1] <a href="https://www.morneaushepell.com/ca-en/internet-based-cognitive-behaviour-therapy-icbt" target="_blank">www.morneaushepell.com/ca-en/internet-based-cognitive-behaviour-therapy-icbt</a></p>
<a href="/projects.html" style="margin: auto;"><button class="yellow-button">Back to Projects</button></a>
{% endblock %}