{% extends "project_base.html" %}

{% block title %}StepRight — Lisa Li{% endblock %}
{% block main_img %}stepright/stepright-main1.jpg{% endblock %}>
{% block h1 %}StepRight App{% endblock %}
{% block date %}June 2017{% endblock %}

{% block body1 %}
<p>StepRight is a passion project that I worked on over the summer 2017 after experiencing UI problems I had with my personal pedometer app. I decided to design my own with the goal addressing the issues from my current pedometer app that hindered my user experience with it. What started as just a small pedometer design evolved into a water, sleep, and heart beat tracker, which was also based off of my frustration with my experience with the respected apps.</p>
<br>
<p>I conducted user testing such as going around the office and asking employees to use the "app" to see how intuitive it was. This experience showed me the insight of others, as I found it frustrating when people did not use the app in the way I intended, such as tapping or swiping incorrect areas or not understanding certain features I designed. This changed my definition of intuitive as I realized how simple I had to make my app if I wanted a large variety of people to use it. It also helped my skills as a UI designer and my experience with sunk cost fallacy, as I had to delete multiple screens and redesign the interface of my app to increase the experience that people had with it.</p>
<br>
<h2 class="sans-serif-font article-h2">View My Prototype</h2>
<nav class="article-files sans-serif-font">
    <a href="https://invis.io/ZEGRGFJ4KPY" target="_blank">Mobile</a>
</nav>
<br>
<h2 class="sans-serif-font article-h2">Info Flow</h2>
<img class="article-img" onclick="modalImage(this)" alt="" src="/Assets/Images/Projects/stepright/stepright-flow.jpg">
<br>
<h2 class="sans-serif-font article-h2">UI Design Decisions</h2>
<ul>
    <li>
        Have four unique brands, all interconnected to one. 
        <img class="article-img" onclick="modalImage(this)" alt="" src="/Assets/Images/Projects/stepright/stepright-header.jpg"> 
    </li>
</ul>
<br>
<a href="/projects.html" style="margin: auto;"><button class="yellow-button">Back to Projects</button></a>
{% endblock %}

