
/* Projects Page */


.yellow-header {
    background-color: #F5BA23;
    width: 100%;
    padding: 25px 0px;
    font-size: 64px;
    display: flex;
    flex-direction: column;

}

.by-title-div {
    background-color: #fff;
    padding: 15px 30px;
    align-self: center;
    font-family: "futurabold", "Poppins", sans-serif;
    font-weight: 900;
    font-size: 64px;
    margin: auto;
}

.black-outline-title {
    text-transform: uppercase;
    position: absolute;
    color: #333;
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #333;
}

.yellow-title {
    text-transform: uppercase;
    font-weight: 900;
    color: #F5BA23;
    word-break: break-all;
    z-index: -1;
    margin-top: 3px;
    margin-left: 2.5px;
}

.philosophy-img {
    height: 100%;
    width: calc( (100vh - 86px)*816/1021);
}

.philosophy-text {
    box-sizing: border-box;
    width: 80%;
    padding-top: 40px;
    margin: auto;
    line-height: 29px;
}

.button-div {
    margin: 20px auto 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.button-div button, .button-div a {
    width: 100%;
    margin-top: 20px;
}

/* Articles */

.article {
    display: flex;
}

.img-div {
    width: 40vw;
}

.article-img {
    height: auto;
    width: 100%;
    display: block;
    margin: 10px auto;
}

.lg-img {
    width: 50%;
}

.md-img {
    width: 80%;
}

.article-div {
    width: 100%;
    background-color: #fff;
    padding-bottom: 20px;
}

.article-header {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.article-title {
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-color: #333;
    padding: 20px 40px 40px;
}

.article-date {
    font-family: "futurabold", "Times New Roman", Times, serif;
    font-weight: 900;
    font-size: 20px;
    display: inline-block;
    padding: 15px 30px 15px 1015px;
    background-color: #F5BA23;
    margin: -20px 0px 0px -1000px;
}

.article-content {
    width: 80%;
    max-width: 800px;
    margin: 45px auto;
    line-height: 29px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article-content ol, .article-content ul {
    width: 85%;
    max-width: 790px;
    margin: auto;
}

.article-content li {
    padding: 5px 0px;
}

.article-files {
    display: flex;
    flex-wrap: wrap;
}

.article-files a {
    background-color: #F5BA23;
    font-size: 18px;
    padding: 5px 15px;
    margin: 0px 15px 10px 0px;
}

.video-container {
    display: flex;
    flex-direction: column;
    margin: 40px auto 10px;
}

.video-div {
    margin: 15px auto 10px;
}

.article-video {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.video-div label {
    font-size: 28px;
    font-weight: bold; 
}

.article-h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0px 10px;
    line-height: 40px;
}


@media (max-width: 700px) {
    .philosopy-page { flex-direction: column-reverse; }

    .media-by-title { font-size: 14vw; }

    .philosophy-media {
        width: 92%;
        padding: 15px 0px;
        font-size: 14vw;
    }

    .philosophy-media-title { font-size: 12vw; }

    .philosophy-hover-img{
        position: static;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
    }

    .philosophy-img { 
        width: 100%;
        height: auto;
    }

    .article-header {
        margin-top: -70px;
        z-index: 220;
        width: 100vw;
    }

    .article-title {
        margin-left: 10%; 
        border: 30px solid #fff;
        border-bottom: none;
        border-right: none;
        font-size: 10vw;
    }

    .article-date { margin-left: -920px; }

    .article {
        flex-direction: column;
        width: 100vw;
    }
    
    .article-content { justify-content: center; }     

    .article-files {
        justify-content: center;
        width: 100%;
        margin: auto;
    }
    
    .article-h2 {
        text-align: center;
    }

    .img-div {
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        z-index: -1;
    }

    .article-video {
        width: 100%;
        height: auto;
    }

    .button-div { width: 80%; }

    .lg-img, .md-img, .article-img {
        width: 125%;
        margin-left: -12.5%;
    }
}