{% extends "base.html" %}

{% block title %}Design{% endblock %}

{% block body %}
<div class="project-div philosopy-page">
    <div class="p-hover-img philosophy-hover-img">  
        <img class="project-img img-div" alt="" src="/Assets/Images/design.jpg" style="object-position: center; z-index: 1;">
    </div>

    <div style="width: 100%;">
        <div class="yellow-header">
            <div class="by-title-div" style="display: flex; flex-direction: column; align-items: center;">
                <p class="sans-serif-font" style="text-align: center;">What I</p>
                <div class="media-by-title">
                    <h1 class="black-outline-title">Design</h1>
                    <p class="yellow-title">Design</p>
                </div>
                <p class="sans-serif-font" style="text-align: center;">For</p>
            </div>
        </div>

        <div class="philosophy-text">
            <p>My goal is to design user interfaces that anyone can use without much effort. This does not mean restricting myself to incredibly simplistic designs; as Steve Krug, a usability expert, puts it: using a new convention is acceptable if it "adds so much value that it's worth a small learning curve".</p>
            <br>
            <p>Nothing irks me more than when an object doesn't work the way you expect it to. When I design apps and web pages, I intend for users to instinctively know where, what, and how to click around. When interacting with my environment, I find myself thinking about ways to increase the usability of items around me. Something as simple as a door brings up questions such as "How can this be designed so that the user intuitively knows the side to push and the direction the door swings?"</p>
            <br>
            <p>Aesthetics also plays a big role in my designs, as well as other aspects of my life. I enjoy combining different colors, shapes, and fonts as I find that when things such as documents, notes, or rooms look nice; they satisfy our senses and make something look more elevated than it actually is. With years of artistic experience, I treat everything like an art project and really pay attention to the small details when it comes to design.</p>
        </div>

        <div class="button-div">
            <a href="projects.html"><button class="yellow-button">View Projects</button></a>
            <a href="index.html"><button class="yellow-button">Return Home</button></a>
        </div>
    </div>
</div>
{% endblock %}
